#theBox {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 95%;
    min-width: 300px;
	height: 100%;
    border-style: solid;
    margin: auto;
    overflow: auto;
  }
nav{
	width:95%;
	height:40px;
	border-style: solid;
	background-color: green;
    margin: auto;
}
nav div{
    float: contour;
    margin: auto;
}
body {
    padding-top: 2px; /* 60px to make the container go all the way to the bottom of the topbar */
	width: 100%;
	height: 100%;
}

h1 {
  background-color: green;
}
.lesChats{
	width: 220px;
	
}
.lesChats:hover{
	border:1px solid black;
}	
.lesChats img{
	width: 100%;
	height: auto;
	
}
.leP{
	font: italic bold 12px/30px Georgia, serif;
	color : #556644; // Couleur du texte

}